# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.env/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# MLflow
# -----------------------------
mlruns/

# -----------------------------
# DVC Cache
# -----------------------------
.dvc/cache/

# -----------------------------
# Processed Data
# -----------------------------
data/raw/
data/processed/

# -----------------------------
# Model Checkpoints
# -----------------------------
checkpoints/
*.pt
*.pth

# -----------------------------
# VSCode / IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
logs/
*.log